
#MainIndex{
    background-color: rgb(243, 243, 243);
    padding-top: 75px;

}

#OrdenarHorizontal{
    flex: 1;
    display: flex;
}

#IndexBody{
    margin: 0px;
    width: 100%;
    
}



/*HEADER*/
header {
    display: flex;
    margin: 0px;
    align-items: center;
    border-top: 6px solid purple;
    background-color: white;
    font-style: oblique;
    position: fixed;
    top: 0;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2); /* Agregar sombra */

}

header h1 {
    color: rgb(243, 160, 252);
    text-align: center;
    padding: 10px;
    margin: 0;
    margin-right: 20px;
    width: 100px; /* Ancho */
    height: 50px;
}

header h1 img{
    width: auto;
    height: 40px;
}

header button{
    margin-right: 40px;
    height: 40px;
    width: 90px;
    background-color: #00CED1;
    border: 0px;
    color: white;
}

.menu {
    padding-top: 10px;
    background-color: white;
    text-align: center;
    width: 100%;
    flex: 1;
    font-size: x-large;

}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px; /* Espacio entre elementos del menú */
    align-items: center;
}

.menu a {
    color: grey;
    text-decoration: none;
    padding: 10px 20px;
}




/* Estilos para el menú desplegable */
.submenu {
    display: none;
    position: absolute;
    background-color: white;
    color: grey;
    z-index: 1;
    font-size: x-large;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    margin: 0;
}

.submenu a {
    padding: 10px 20px;
}

#BusquedaDIV{
    display: flex;
    margin: 20px;
    border-radius: 30px; /* Redondear la barra de búsqueda */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Agregar sombra */

}

#AlineadoBarra{
    display: flex;
    align-items: center; /* Alinear verticalmente */
    border: 1px solid transparent; /* Añadir borde para referencia */
    border-radius: 30px; /* Redondear la barra de búsqueda */
    
}

#BarraBusqueda {
    padding: 10px;
    border: 0.5px solid Gray;
    border-right: 0px;
    border-radius: 30px 0 0 30px; /* Redondear solo la esquina izquierda */
    width: 300px;
}

#ButtonBusqueda {
    background-color: #00CED1; /* Color turquesa */
    border: none;
    border-radius: 0 30px 30px 0; /* Redondear solo la esquina derecha */
    padding: 8px 15px;
    height: 37.5px;
    cursor: pointer;  
    border: 0.5px solid Gray;
    border-left: 0px;    
}

#ButtonBusqueda img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

#CarritoIcono {
    width: 29px;
    height: 29px;    
}

#CarritoAcomodo{
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
}

#AcomodarHorizontales{
    display: flex;
}




/*EFECTOS HEADER MENU*/
nav a:hover{
    color: #00CED1;
}

/*EFECTOS HEADER MENU FIN*/
/*HEADER FIN*/






/*SECCION UNO*/
/*Tipo de letra para la seccion 1*/
/*@font-face {
    font-family: 'Avenir';
    src: url('AvenirNextLight.ttf') format('truetype');
}  SE MOVIO AL INDEX PARA QUE SE PUSIERA CORRECTAMENTE */


#IndexSeccionUno{
    height: auto;
}

#QuienesSomosSection{
    padding-left: 850px;
    padding-top: 170px;
    padding-bottom: 300px;
}

#QuienesSomosSection h1{
    font-size: 35px;
    letter-spacing: 2px;
    color: rgb(67, 67, 67);
}

#QuienesSomosSection p{    
    font-size:15px;
    color: rgb(85, 85, 85);
}

#custom-list {
    list-style: none; /* Eliminar las viñetas predeterminadas */
}

#custom-list li::before {
    content: ">"; /* Utilizar un > como viñeta */
    color: #00CED1; /* Color de la viñeta */
    display: inline-block;
    font-weight: 1000;
    width: 1em; /* Ajustar el ancho para alinear correctamente */
    margin-right: 0.5em; /* Espacio entre la viñeta y el texto */
}

#custom-list li {
    padding-top: 30px;
    font-family: 'Avenir';
    color: rgb(85, 85, 85); /* Color del texto */
}

#aparecerViñeta {
    opacity: 0; /* Inicialmente, el elemento está oculto */
    animation: aparecer 4s ease forwards; /* Definir la animación */
}

#aparecerViñeta2 {
    opacity: 0; /* Inicialmente, el elemento está oculto */
    animation: aparecer 6s ease forwards; /* Definir la animación */
}

#aparecerViñeta3 {
    opacity: 0; /* Inicialmente, el elemento está oculto */
    animation: aparecer 8s ease forwards; /* Definir la animación */
}

@keyframes aparecer {
    from {
        opacity: 0; /* Estado inicial: completamente transparente */
    }
    to {
        opacity: 1; /* Estado final: completamente visible */
    }
}
/*SECCION UNO Fin*/




/*SECCION DOS*/

#IndexSeccionDos{
    background-color: white;
    height: auto;
    
}

#IndexSeccionDosAcomodo{
    display: flex;
    justify-content: space-between;
}

#IndexSeccionDosAcomodo Div{
    flex: 1;
    max-width: 50%;
}

    
#IndexSeccionDosAcomodo Div:nth-child(2){
    padding-left: 0px;
    padding-top: 0px;
}

#TuHogarMasInteligenteSection {
    padding-top: 100px;
    padding-left: 300px;
    padding-bottom: 100px;
}

#TuHogarMasInteligenteSection h1{
    font-size: 50px;
    letter-spacing: 2px;
    color: rgb(67, 67, 67);
}

#TuHogarMasInteligenteSection p{
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(67, 67, 67);
}

#TuHogarMasInteligenteSection p:nth-child(3){
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(67, 67, 67);
    text-decoration: underline 1px rgb(67, 67, 67) ;
}

#TuHogarMasInteligenteSection button{
    margin-right: 40px;
    height: 40px;
    width: 90px;
    background-color: #00CED1;
    border: 0px;
    color: white;
}

/*SECCION DOS Fin*/




/*SECCION TRES*/
#IndexSeccionTres{
    background-color: white;
    height: auto;
}

#IndexSeccionTresAcomodo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}


.IconoInformacionTexto{
    font-family: Helvetica;
    color: rgb(67, 67, 67);
    text-align: center;
    margin-right: 90px;
    width: 240px;
}


.IconoInformacionTexto:last-child{
    margin-right: 0px;
}
.IconoInformacionTexto img{
    height: 90px;
    width: 90px;
}
/*SECCION TRES Fin*/



/*SECCION CUATRO*/
#IndexSeccionCuatro{
    height: auto;
    text-align: center;
}

#IndexSeccionCuatro h1{
    padding-top: 250px;
    font-size: 70px;
    font-family: 'Avenir';
    color: rgb(136, 136, 136);
}

#IndexSeccionCuatro p{
    padding-top: 10px;
    padding-bottom: 250px;
    font-family: 'Avenir';
    color: rgb(136, 136, 136);
    font-style: italic;
}
/*SECCION CUATRO Fin*/
