.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    margin-top: 50px;
}

.product-content {
    display: flex;
}

.star {
    font-size: 32px;
    color: #bbb;
    transition: color 0.3s;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -10px;
    margin-left: 5px;
}
.star.checked, .star:hover {
    color: gold;
}
.heart {
    font-size: 32px;
    color: #44DBBD;
    cursor: pointer;
    position: absolute;
    top: 350px; /* Ajustar la posición verticalmente */
    margin-right: 450px; /* Ajustar la posición horizontalmente */
}

.heart.liked {
    color: #ff0000; /* Rojo */
}
.product-image-container {
    position: relative;
    width: 510px;
    /* Ancho del contenedor */
    height: 510px;
    /* Alto del contenedor */
    border: 2px solid black;
    margin-top: -10px;
    margin-right: 650px;
    padding: 10px;
}

.product-image {
    position: absolute;
    top: 50%;
    /* Coloca la parte superior de la imagen en el centro vertical */
    left: 50%;
    /* Coloca el lado izquierdo de la imagen en el centro horizontal */
    transform: translate(-50%, -50%);
    /* Desplaza la imagen hacia atrás en su propia mitad en ambas direcciones */
    width: 100%;
    /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto;
    /* La altura se ajusta automáticamente para mantener la relación de aspecto */
    object-fit: contain;
    /* Ajusta la imagen para que se ajuste dentro del contenedor manteniendo su relación de aspecto */
}

.product-thumbnails {
    margin-left: -77%;
    /* Ajusta la distancia desde el borde izquierdo */
    /* Mantén las demás propiedades sin cambios */
    display: flex;
    flex-direction: row;
    margin-top: 550px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-right: 10px; /* Espacio entre las miniaturas */
    cursor: pointer;
    border: 2px solid black; /* Añade un borde a los contenedores de miniaturas */
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Esconder las flechas en Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#cantidad{
    width: 50px;
    height: 30px;
}

#AgregarAlCarrito {
    width: 300px; /* Ancho deseado */
    height: 40px; /* Alto deseado */
    background-color: #44DBBD; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Eliminar borde */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    margin-top: 35px; /* Espacio arriba del botón */
}

.comments-box {
    padding: 10px;
    font-size: 1.2em; /* Tamaño de letra más grande */
    text-align: left; /* Texto alineado a la izquierda */
    margin-top: 80px;
    margin-left: 20px; /* Separación del margen izquierdo */
    background-color: #44DBBD;
}

.user-comment-box {
    margin-top: 20px;
    text-align: center;
}

.user-comment-box textarea {
    width: 93%;
    padding: 20px;
    margin-bottom: 10px;
    margin: center;
    resize: vertical;
}

.user-comment-box button {
    padding: 10px 20px;
    background-color: #44DBBD;
    color: white;
    border: none;
    cursor: pointer;
}
.product-description {
    position: absolute;
    top: 40px;
    /* Ajusta la posición vertical según sea necesario */
    margin-left: 750px;
    /* Centra horizontalmente */
    transform: translateX(-50%);
    /* Centra horizontalmente */
}
.Tuscomentarios {
    margin-top: 20px;
    text-align: center;
}
.user-comments-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.comment-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.user-comments-box ul {
    list-style-type: none;
    padding: 0;
}

.user-comments-box li {
 
    padding: 10px;
    margin-bottom: 10px;
}
.product-long-description {
    margin-top: 700px;
    /* Ajusta la distancia desde la parte superior */
    margin-left: -22%;
    /* Ajusta la ditancia desde el borde izquierdo */
}
.redes-sociales {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 80px;
}

.redes-sociales i {
    font-size: 24px;
}
